<h2>{{title}}</h2>

<img {{bindAttr src="imageUrl"}} />

<p>{{comment}}</p>

{{#linkTo 'items.edit' content class='btn'}}Edit Item{{/linkTo}}
<!--
<a href='#' {{action 'destroy'}} class='btn btn-delete'>Delete</a>
-->

<div class="disqus">
  {{ view App.DisqusView }}
</div>

